/**
 * This document defines all used variables
 */
$px: 1px !default;

/**
 * values for customer pages
 */
$color-background: #f7f7f7;

$font-xxlarge: 52;
$font-xlarge: 38;
$font-larger: 30;
$font-large: 24;
$font-medium: 22;
$font-medium-small: 18;
$font-small: 12;
$fontsize_bill_xsmall: 10;

/**
 * Font Family
 */
$font_open_sans_light: 'Open Sans Light', Arial, sans-serif;
$font_open_sans_light_italic: 'Open Sans Light Italic', Arial, sans-serif;
$font_open_sans_normal: 'Open Sans Normal', Arial, sans-serif;
$font_open_sans_bold: 'Open Sans Bold', Arial, sans-serif;