@import 'variables';
@import 'mixins';

@include media() {
	.page {
		width: 100%;
		height: 100%;
		position: relative;
		font-family: $font_open_sans_normal;
		overflow: hidden;

		@include display-flex();
		@include flex-direction(column);

		.body {
			@include flex(1 1);
			@include display-flex();
			@include flex-direction(column);
			position: relative;
		}
	}
}
