<?xml version='1.0' encoding='utf-8'?>
<widget id="com.codeb.anywherecommerce-testapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <!-- this is the name for the -target=bill  since we did not provide appa for the other targets this will work for now (otherwise we have to move it into the grunt file)-->
    <name>Touchpoint</name>
    <description>
        App runnign testcases for the anywherecommerce walker card reader - using the cordova-plugin-cardreader-anywherecommerce-walker plugin
    </description>
    <author email="g.heescher@code-b.com">
        Gerd Heescher
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />

    <platform name="ios">
     </platform>

    <platform name="android">
        <preference name="android-minSdkVersion" value="16" />
    </platform>


    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />

</widget>
